.history{
    position: absolute;
    left: 1%;
    top: 1%;
}

.history button{
    background: yellow;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
}